* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #001b40;
  margin: 0;
}

.login, .register {
  width: 400px;
  background-color: #005192;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login h1, .register h1 {
  text-align: center;
  color: #5b6574;
  font-size: 30px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login .links, .register .links {
  display: flex;
  padding: 0 15px;
}

.login .links a, .register .links a {
  color: #adb2ba;
  text-decoration: none;
  display: inline-flex;
  padding: 0 10px 10px 10px;
  font-weight: bold;
}

.login .links a:hover, .register .links a:hover {
  color: #9da3ac;
}

.login .links a.active, .register .links a.active {
  border-bottom: 3px solid #3274d6;
  color: #e3e7ee;
}

.login form, .register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}


form {
    padding: 20px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.login form label{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  width: 80%;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type="submit"], .register form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #007fed;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}

.login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
  background-color: #007fed;
  transition: background-color 0.2s;
}


.login form #rememberme{
  width: 100%;
  height: auto;
  padding: 5px 20px;
  background-color: transparent;
  color: #000;
  justify-content: flex-start;
}

.login form #rememberme input {
  transform: scale(1.3);
  margin-right: 7px;
}

.login form .msg, .register form .msg {
  padding: 0 20px;
  width: 100%;
}

.login form > a, .register form > a {
  text-decoration: none;
  color: #5b6574;
  width: 100%;
  padding: 5px 20px;
}

.login form > a:hover, .register form > a:hover {
  color: #394049;
}

.navtop {
  background-color: #171b20;
  height: 60px;
  width: 100%;
  border: 0;
}

.navtop div {
  display: flex;
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

.navtop div h1, .navtop div a {
  display: inline-flex;
  align-items: center;
}

.navtop div h1 {
  flex: 1;
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-weight: normal;
}

.navtop div a {
  padding: 0 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.navtop div a i {
  padding: 2px 8px 0 0;
}

.navtop div a .selected {
  background: white;
  color: #000;
}

.navtop div a:hover {
  color: #eaebed;
}

body.loggedin {
  background-color: #f3f4f7;
}

.content {
  width: 1000px;
  margin: 0 auto;
}

.content h2 {
  margin: 0;
  padding: 15px 0 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #e0e0e3;
  color: #4a536e;
}

.content > p, .content > div {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin: 25px 0;
  padding: 25px;
  background-color: #fff;
}


.dark-version .content > p, .dark-version .content > div {
  background-color: #67748e !important;
}

.dark-version .left{
  background-color: #434b5c;
}

.content > p table, .content > div table {
  width: 100%;
}

.content > p table td, .content > div table td {
  overflow: hidden;
  padding: 5px;
}

.content > p table td:first-child, .content > div table td:first-child {
  font-weight: bold;
  color: #4a536e;
  padding-right: 15px;
}

.content > p table td:last-child, .content > div table td:last-child {
  word-break: break-all;
}

.content > div p {
  padding: 5px;
  margin: 0 0 10px 0;
}

.content > div input[type="submit"] {
  display: inline-block;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  background-color: #007fed;
  background-position-x: 25%;
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  border: 0;
  color: #fff !important;/**/
  padding: 10px 32px !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 3px;
}

.content > div a:hover, .content > div input[type="submit"]:hover {
  box-shadow:0 3px 5px -1px rgba(0,0,0,.09),0 2px 3px -1px rgba(0,0,0,.07);
  transform:scale(1.02)
}

.content div label {
  display: block;
  padding: 10px 0 5px 0;
}

.content form label {
  display: block;
  padding: 10px 0 5px 0;
}

.content form input[type="text"], .content form input[type="password"], .content form input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

@media screen and (max-width: 400px) {
  .login, .register {
    width: 95%;
  }
}

@media screen and (max-width: 1000px) {
  .navtop {
    height: auto;
    padding: 10px;
  }
  .navtop div {
    flex-flow: wrap;
    width: 100%;
  }
  .navtop div h1 {
    display: block;
    flex-basis: 100%;
  }
  .navtop div a {
    padding: 10px 0;
    flex-basis: 50%;
  }
  .content {
    padding: 10px;
    width: 100%;
  }
  .content form input[type="text"], .content form input[type="password"], .content form input[type="email"] {
    width: 100%;
  }
}
/* Start Of Tagging's Styling*/
textarea{
    resize: none;
}

.tooltip {
    display: inline-block;
    opacity: 1;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
 
.column{
    padding: 5px 10px;
} 

.head2{
    padding: unset !important;
    border-bottom: none !important;
}
  
.left{
    width: 30%;
    background-color: #e0e0e0;
}

.right{
    width: 70%;
}

.books{
    width: max-content;
}

#right{
    padding: 5px 20px;
}

#spaCyLang{
    padding: 5px;
}

#separateWords{
    width: 100%;
    height: 70px;
}

#keywords{
    width: 100%
}

/* Styling For Email Section Buttons */

.editButton {
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  background-color: #007fed;
  background-position-x: 25%;
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  border: 0;
  color: #fff !important;/**/
  padding: 10px 32px !important;
  text-decoration: none;
  font-size: 13px;
  border-radius: 0.5rem;
  width: 60%;
  height: 40px;
}

.pageWidth {
  width: 60%;
}

.colorpageWidth {
  width: 90%;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .editButton {
    width: 95%; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .pageWidth {
    width: 95% !important; /* The width is 100%, when the viewport is 800px or smaller */
  }

  .colorpageWidth {
    width: 100%;
  }
}

.left-submit{
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  background-color: #007fed;
  background-position-x: 25%;
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  border: 0;
  color: #fff !important;/**/
  padding: 10px 32px !important;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px 6px !important;
  font-size: 13px;
  border-radius: 3px;
  width: 108px;
  height: 40px;
}

.submitButton, .cancelButton, .clearButton, .exportButton{
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  background-color: #007fed;
  background-position-x: 25%;
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  border: 0;
  color: #fff !important;/**/
  padding: 10px 32px !important;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px 8px !important;
  font-size: 13px;
  border-radius: 3px;
  width: 116px;
  height: 40px;
}

.submitButton:hover, .cancelButton:hover, .editButton:hover
.clearButton:hover, .exportButton:hover, .left-submit:hover{
	color: #67748e; 
}

.submitButton:active,.submitButton:active:focus,.submitButton:active:hover,
.editButton:active,.editButton:active:focus,.editButton:active:hover
.left-submit:active,.left-submit:active:focus,.left-submit:active:hover{
	box-shadow:0 3px 5px -1px rgba(0,0,0,.09),0 2px 3px -1px rgba(0,0,0,.07);
	transform:scale(1);
	opacity:.85
}

.submitButton:hover, .editButton:hover, .left-submit:hover{
	box-shadow:0 3px 5px -1px rgba(0,0,0,.09),0 2px 3px -1px rgba(0,0,0,.07);
	transform:scale(1.02)
}

.trigger-background {
  background-color:white;
}

.dark-version .trigger-background {
  background-color:#111322;
}
/* End Of Email Section Buttons Styling */

.clipboard {
  position: relative;
}
.clipboard textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.clipboard button {
  position: absolute;
  top: 3px;
  right: 3px;
  background: transparent;
  border-color: transparent;
}

.clipboard:hover button{    
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133))
}

.fa-paste{
    font-size: 24px;
    color: #687271;
}

.display{
    border: none;
    margin: 0px 5px;
    width: 100%;
    background-color: transparent;
}



.dropdown-el {
  min-width: 100%;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  top: .5em;
  cursor: pointer;
  text-align: left;
  color: #444;
  outline: none;
  border: .06em solid transparent;
  border-radius: .25em;
  background-color: #fff;
  transition: 0.3s all ease-in-out;
}

.dropdown-el input {
  display: none;
}
.dropdown-el label {
  border-top: .06em solid #d9d9d9;
  display: block;
  padding-left: 1em !important;
  padding-right: 3em !important;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
  margin-top: 3em;
  border-top: .06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
}
.dropdown-el input:checked + label:nth-child(2) {
  margin-top: 0;
  position: relative;
}
.dropdown-el::after {
  content: "";
  position: absolute;
  right: 0.8em;
  top: 0.9em;
  border: 0.3em solid #3694d7;
  border-color: #3694d7 transparent transparent transparent;
  transition: .4s all ease-in-out;
}

.dropdown-el.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
  border-radius: .25em;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
  max-height: 15em;
}

.dark-version .dropdown-el {
  background-color: #67748e;
}

.dark-version .dropdown-el.expanded {
  background: #67748e;
}

.dropdown-el.expanded label {
  border-top: .06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
  color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
  color: #3694d7;
}
.dropdown-el.expanded::after {
  transform: rotate(-180deg);
  top: .55em;
}


#cont{
    display: flex;
}

@media only screen and (max-width: 768px) {
  .left {
    width: 100%;
  }
}


@media only screen and (max-width: 768px) {
  .right {
    width: 100%;
  }
}


@media only screen and (max-width: 768px) {
  #cont {
   display: block;
  }
}

/*
input[type=range] {
  height: 20px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: none;
  height: 5px;
  border-radius: 18px;
  background-color: #dedede;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff1100), color-stop(100%, #ff1100));
  background-size: 50% 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FA3362;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #FA3362;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fa3362;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FA3362;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #FA3362;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #FA3362;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #fa3362;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #FA3362;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #FA3362;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #FA3362;
  height: 12px;
  width: 12px;
  border-radius: 18px;
  background: #fa3362;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #FA3362;
}
input[type=range]:focus::-ms-fill-upper {
  background: #FA3362;
}*/

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    height: 3px;
    background-color: #c7c7c7;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FA3362), color-stop(100%, #FA3362));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}


input[type=range]::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
    border: 0;
    background: #FA3362;
    border: none;
    border-radius: 18px;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}
/**/
.range-wrap {
  position: relative;
}
.range {
  width: 100%;
}
.bubble {
  background: none;
  color: #FA3362;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -20px;
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: none;
  top: 1px;
  left: 50%;
}

.range-label{
    margin-bottom: 15px;
}

input[type='radio']:after {
        width: 12px;
        height: 12px;
        border-radius: 15px;
        top: -2px;
        left: -2px;
        position: relative;
        background-color: #e0e0e0;
        display: inline-block;
        visibility: visible;
    }

    input[type='radio']:checked:after {
        width: 12px;
        height: 12px;
        border-radius: 15px;
        top: -2px;
        left: -2px;
        position: relative;
        background-color: transparent;
        display: inline-block;
        visibility: visible;
    }
/* End Of Tagging's Styling */

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .file-upload {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #fff;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #2590eb 50%, #fff 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #fff;
  font-size: 50px;
}
.wrapper .file-upload input[type='file'] {
  height: 120px;
  width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #2590eb;
}

/* DropZone Styling For Cover Cover Drag 'n' Drop */

#myDropzone > div > span{
    font-size: 25px;
    text-align: center;
    color: #38617d;
    margin: 10px;
}

#myDropzone{
    padding: 0px 1px;
    margin: 5%;
    min-height: 150px;
}

#myDropzone > div.dz-preview.dz-processing.dz-image-preview.dz-success.dz-complete > div.dz-image{
    border-radius: 0px;
    width: 100%
}

#myDropzone > div.dz-preview.dz-processing.dz-success.dz-complete.dz-image-preview{
    width: 85%;
}

.home-title {
  flex: 1;
  margin: 0 15px;
}

.tabs {
  position: relative;
  background: #303837;
  height: auto;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  display:flex;
}

.tab-active {
    background: rgb(122, 137, 151);
    border: 2px solid white;
}

.tab-switch {
  display: none;
}

.tab-label {
  position: relative;
  display: inline-flex;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  border-right: 0.125rem solid #869b97;
  color: #fff;
  cursor: pointer;
  width: auto;
  top: 0;
  transition: all 0.25s;
  margin-top: 0.5rem;
}

.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}

.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}

.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}

.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.slider-vertical input[type=range] {
    width: 150px;
    height: 5px;
    margin: 0;
    transform-origin: 77px 72px;
    transform: rotate(-90deg);
    -webkit-appearance: auto;
}

.slider-container {
  height: 150px;
}

.slider-container label {
    height: 33.33%;
    display:flex;
}
/* End OF DropZone Styling  */
