
{% extends 'layout.html' %}

{% block title %}Sentiment Analysis{% endblock %}

{% block content %}
<h2>Sentiment Analysis Page</h2>
<p>Welcome back, {{ username }}!<br>
  <br>
  <b>Sentiment Analysis Definitions</b><br>
  <u>TextBlob</u> is a popular Python library for processing textual data. It is built on top of NLTK, another popular Natural Language Processing toolbox for Python.<br>
  <u>VADER</u> Valence Aware Dictionary and sentiment Reasoner, is another popular rule-based library for sentiment analysis. Like TextBlob, it uses a sentiment lexicon that contains intensity measures for each word based on human-annotated labels.<br>
  <u>Logistic regression</u> is a linear model trained on labelled data — the term linear is important because it means the algorithm only uses linear combinations (i.e. sums and not products) of inputs and parameters to produce a class prediction.<br>
  <u>Support Vector Machine</u> is a classifier that looks to maximize the distance of each data point from this hyperplane using “support vectors” that characterize each distance as a vector.<br>
  <u>FastText</u> considers subwords using a collection of n-grams: for example, “train” is broken down into tra, rai and ain. In this manner, the representation of a word is more resistant to misspellings and minor spelling variations.<br>  
</p>

<div  id="cont">
  <div class="column left">
    <form method="post">
      <div class="select-box">
        <label for="select-box1" class="label select-box1"><span class="label-desc">Choose Classifier</span> </label>
        <span class="dropdown-el" id="select-boc">
          <input type="radio" name="classifier" value="base" checked="checked"id="base" required="required"><label for="base" style="padding: 5px;">Please select Classifier</label>
          <input type="radio" name="classifier" value="textblob" {% if request.form.get('classifier') == 'textblob' %} checked="checked" {% endif %}   id="txtBlob"><label for="txtBlob" style="padding: 5px;">TextBlob</label>
          <input type="radio" name="classifier" value="vader" {% if request.form.get('classifier') == 'vader' %} checked="checked" {% endif %}  id="vader"><label for="vader" style="padding: 5px;">VADER</label>
          <input type="radio" name="classifier" value="logistic" {% if request.form.get('classifier') == 'logistic' %} checked="checked" {% endif %}   id="logistic"><label for="logistic" style="padding: 5px;">Logistic Regression</label>
          <input type="radio" name="classifier" value="svm" {% if request.form.get('classifier') == 'svm' %} checked="checked" {% endif %}  id="svm"><label for="svm" style="padding: 5px;">Support Vector Machine</label>
          <input type="radio" name="classifier" value="fasttext" {% if request.form.get('classifier') == 'fasttext' %} checked="checked" {% endif %}  id="fasttext"><label for="fasttext" style="padding: 5px;">FastText</label>
        </span>
      </div><br>
      <label for="unchanged">Number of samples to generate for LIME explainer: (For really long input text, go up to 5000)</label><br>
      <textarea name="n_samples" id="separateWords" cols="30" rows="10">{% if n_samples %}{{ n_samples }}{% else %}1000{% endif %}</textarea>
      <div  id="maxCount"></div>
      </div>
      <br>        
      <div class="column right" id="right">
        <h2 class="head2">Sentiment Analysis Generator</h2>
        <label for="keywords">Enter your text in the box below</label>
        <textarea name="entry" id="keywords" cols="30" rows="10">{% if entry %}{{ entry }}{% endif %}</textarea>
        <input type="submit" class="submitButton" value="Submit">
        <input type="reset" value="Cancel" class="submitButton">
        <button type="button" class="submitButton" onclick="clearFunc()">Clear</button>
        <input type="button" style="display:none;" class="submitButton" value="Export" id="export">
      </form>
      <br>
      <br>
      <div  id="semResults"><div >
      {% if emotion != None %}   
	    <h3 style="text-align: center;">Text Emotion</h3>
	    <table>
        <th>Happy<br><br><img src="{{ url_for('static', filename='smiling.png')}}"></th><th>Angry<br><br><img src="{{ url_for('static', filename='angry.png')}}"></th><th>Surprise<br><br><img src="{{ url_for('static', filename='surprised.png')}}"></th><th>Sad<br><br><img src="{{ url_for('static', filename='sad.png')}}"></th><th>Fear<br><br><img src="{{ url_for('static', filename='fear.png')}}"></th>
	      <tr>
	        {% for key, value in emotion.items() %}
		      <td style="text-align: center;">{{ value*100 }}%</td>
          {% endfor %}
	      </tr>
	    </table>
	    {% endif %}
      </div>
      {% if exp %}
      <h3 align="center">LIME-explained results using {{ classifier }}</h3>
      <div class="container">
          {{ exp|safe }}
      </div>
    {% endif %}
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

{% endblock %}
